<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Disabled</key>
		<false/>
		<key>Label</key>
		<string>eu.outters.flute</string>
		<key>Program</key>
		<string>/Users/gui/src/scripts/sauvegarde/flute</string>
		<key>ProgramArguments</key>
		<array>
			<string>/Users/gui/src/scripts/sauvegarde/flute</string>
			<string>/Users/gui/perso/Photos/201301 Pauline/</string>
			<string>clotilde@f:Pictures/Pauline</string>
		</array>
		<key>WatchPaths</key>
		<array>
			<string>/Users/gui/perso/Photos/201301 Pauline</string>
		</array>
		<key>RunAtLoad</key>
		<false/>
		<key>onDemand</key>
		<true/>
	</dict>
</plist>
