<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Disabled</key>
		<false/>
		<key>Label</key>
		<string>eu.outters.fichiersCopiesEnPressePapier</string>
		<key>Program</key>
		<string>/Users/gui/bin/eu.outters.fichiersCopiesEnPressePapier</string>
		<key>ProgramArguments</key>
		<array>
			<string>/Users/gui/bin/eu.outters.fichiersCopiesEnPressePapier</string>
			<string>/Volumes/dd.gclo.fr</string>
			<string>http://dd.gclo.fr</string>
		</array>
		<key>WatchPaths</key>
		<array>
			<string>/Volumes/dd.gclo.fr</string>
		</array>
		<key>RunAtLoad</key>
		<false/>
		<key>onDemand</key>
		<true/>
	</dict>
</plist>
